button {
  background-color: rgb(0, 72, 255);
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  outline: none;
  border-radius: 0.5em;
}
.author,
.time,
.points {
  margin: 10px;
}
.replies {
  margin-top: 20px;
  width: fit-content;
  padding-left: 150px;
}
